.container_header {
  background-color: #a2a5a5;
  display: flex;
  align-items: center;
}
.container_header .welcome {
  width: 90%;
  text-align: center;
}
.container_header .quit .userName {
  margin-left: 10px;
}
